* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: fit-content;
	border: 2px solid green;
	position: relative;
	padding-bottom: 10vh;
}
button {
	padding: 10px;
	border-radius: 25px;
	transition: 0.5s ease-in-out;
}
button:hover {
	background-color: black;
	color: white;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(0deg, darkred, red);
	height: 10vh;
	padding: 0 20px;
}

header ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

header li {
	border-right: 2px solid black;
	padding-right: 20px;
}

section {
	height: 90vh;
	border: 2px solid blue;
	background-image: url("https://i.ytimg.com/vi/wh48NrOoYus/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGBMgEyh_MA8=&rs=AOn4CLAwXDtr45FqSfbz5k-FaNn_nXBRtQ");
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, darkred, red);
	height: 10vh;
	padding: 0 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
